{
  "presets": [
    [
      "env",
      {
        "debug": true,
        "targets": {
          "node": true
        },
        "include": [
          "transform-es2015-spread"
        ]
      }
    ]
  ]
}